<div class="container">
    <h1 class="display-4">Bem-vindo ao blog do Rafu</h1>
    <p class="lead">Isto é apenas uma demonstração</p>
    <hr class="mt-4">
    <p>Este é um BLOG simples que utiliza as seguintes tecnologias: Express, Handlebars, MongoDB e Node.JS</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/users/register" role="button">Crie uma conta</a>
    </p>
</div>
<h2>Postagens recentes</h2>

{{#each posts}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/post/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Data de publicação: {{date}}</small>
    </div>
</div>
{{else}}
<h5>Nenhum postagem</h5>
{{/each}}